.flex-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 8px;
  width: 100%;
}

.label {
  font-family: var(--vpl-ui-font-family);
  font-weight: 400;
  font-size: 12px;
  flex-shrink: 0;
}

.widget-container {
  width: 100%;
  flex-grow: 1;
  margin-right: 10px;
}


.widget-container-no-label {
  width: 100%;
  margin-right: 8px;
}

.handle-container {
  position: absolute;
  left: 0px;
}


.react-flow__handle.handle-style {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.react-flow__handle.handle-style.disconnected {
  background: #fff;
  border: 1.5px solid var(--vpl-blue-1);
}


.react-flow__handle.handle-style.connected {
  background: var(--vpl-blue-1);
  border: 1.5px solid var(--vpl-blue-2);
}