.flex-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 8px;

}

.label {
  font-family: var(--vpl-ui-font-family);
  font-weight: 400;
  font-size: 12px;
  flex-shrink: 0;
}

.widget-container {
  margin-left: auto;
}

.widget-container-thin {
  margin-left: auto;
  margin-right: -8px;
}

.handle-container {
  position: relative;
  left: 4px;
}


.react-flow__handle.handle-style {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.react-flow__handle.handle-style.disconnected {
  background: #fff;
  border: 1.5px solid var(--vpl-blue-1);
}


.react-flow__handle.handle-style.connected {
  background: var(--vpl-blue-1);
  border: 1.5px solid var(--vpl-blue-2);
}