.crop-input-container {
    display: flex;
    align-items: center;
}

.crop-input-button {
    padding: 4px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--vpl-ui-font-color1);
}

.crop-input-button:hover {
    color: var(--vpl-ui-font-color0);
}