.image-gallery-widget {
    position: relative;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--vpl-scrollbar-color);
}

.canvas-container {
    position: relative;
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
    --active-selection-stroke: none !important;
    --selection-stroke: none !important;
}

.canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.fabric-object {
    pointer-events: all !important;
}

.upper-canvas {
    border: none !important;
}

canvas {
    outline: none !important;
}